<div class="content-header">
  <h1 class="title">Clients</h1>
  <div class="actions">
    <%= link_to "Create New Client", new_client_path, class: "btn btn-primary" %>
  </div>
</div>
<!-- Content Header (Page header) -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
            <% @clients.each do |client|  %>
              <tr>
                <td><%= client.id %></td>
                <td><%= client.name %></td>
                <td><%= client.contact %></td>
                <td><%= client.email %></td>
                <td><%= client.phone %></td>
                <td><%= link_to "View", client_path(client) %> / <%= link_to "Edit", edit_client_path(client) %></td>
              </tr>
            <% end %>
          </table>

          <% if @clients.empty? %>
            <div class="empty">
              <h1>No Proposals Added Yet ☹</h1>
            </div>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
