<div class="box box-primary">
  <div class="box-body">
    <h1><%= @client.name %></h1>
    <h1><%= @client.contact %></h1>
    <h1><%= @client.email %></h1>
    <h1><%= @client.phone %></h1>
    <%= link_to "Edit", edit_client_path(@client) %>
    <%= link_to "Back to Index", clients_path %>
  </div>
</div>

<!-- Client Projects -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- BAR CHART -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Most Recent Proposals</h3>
        </div>
        <div class="box-body">
          <% @client.proposals do |proposal| %>
           <%= proposal.title %>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
