<div class="box box-primary">
  <h1>Project</h1>
  <div class="box-body">
    <h1><%= @project.title %></h1>
    <h1><%= @project.status %></h1>
    <%= link_to "Edit", edit_project_path(@project) %>
    <%= link_to "Back to Index", projects_path %>
  </div>
</div>

<div class="box box-primary">
  <h1>Proposals</h1>
  <div class="box-body">
    <% if @project.proposals.any? %>
    <ul>
      <% @project.proposals.each do |proposal|  %>
        <li><%= link_to "#{proposal.title} - #{proposal.status}", project_proposal_path(@project, proposal)%></li>
      <% end %>
    </ul>
    <% else %>
      <h1>This project doesnt have any proposals yet!</h1>
    <% end %>
  </div>
  <%= link_to "Create New Proposal", new_project_proposal_path(@project, @proposal) %>
</div>
