<!-- Content Header (Page header) -->
<section class="content-header">
  <h1 class="title">Proposals</h1>
  <div class="actions">
    <%= link_to "Create New Proposal", new_proposal_path, class: "btn btn-primary" %>
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Project</th>
              <th>Created On</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            <% @proposals.each do |proposal|  %>
              <tr>
                <td><%= proposal.id %></td>
                <td><%= proposal.title %></td>
                <td><%= proposal.project.title %></td>
                <td><%= proposal.created_at.to_time.strftime('%B %e %Y') %></td>
                <td><span class="label label-<%= proposal.status.downcase %>"><%= proposal.status %></span></td>
                <td><%= link_to "View", proposal_path(proposal) %> / <%= link_to "Edit", edit_proposal_path(proposal) %></td>
              </tr>
            <% end %>
          </table>

          <% if @proposals.empty? %>
            <div class="empty">
              <h1>No Proposals Added Yet ☹</h1>
            </div>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
