<div class="row">
  <div class="col-md-8 col-md-offset-2 panel panel-default">
    <h1><%= @proposal.title %></h1>
    <h1><%= @proposal.tagline %></h1>
    <h1><%= @proposal.status %></h1>
    <h1><%= @proposal.project_id %></h1>
    <%= link_to "Edit", edit_proposal_path(proposal) %>
    <%= link_to "Back to Index", proposals_path %>

  </div>
</div>
