<!DOCTYPE html>
<html>
  <head>
    <title>LearnRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="bootstrap-overrides" class="hold-transition skin-black fixed sidebar-mini">
  <div class="wrapper">

    <%= render "shared/header" %>
    <!-- Left side column. contains the logo and sidebar -->
    <%= render "shared/sidebar" %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class="row main-content">
        <div class="col-md-10 col-md-offset-1">
          <%= yield %>
        </div>
      </div>
      <%= debug(params) if Rails.env.development? %>
    </div>

    <%= render "shared/footer" %>

  </div>
  <!-- ./wrapper -->
  </body>
  </html>
