<!DOCTYPE html>
<html>
  <head>
    <title>LearnRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-black fixed sidebar-mini">
  <div class="wrapper">

    <%= render "shared/header" %>
    <!-- Left side column. contains the logo and sidebar -->
    <%= render "shared/sidebar" %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>Dashboard
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"></i> Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <%= yield %>
      </section>
      <!-- /.content -->
    </div>

    <%= render "shared/footer" %>

  </div>
  <!-- ./wrapper -->
  </body>
  </html>
