<!DOCTYPE html>
<html>
  <head>
    <title>LearnRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="bootstrap-overrides" class="hold-transition skin-black fixed sidebar-mini layout-home">
  <div class="wrapper">

    <%= render "shared/header" %>
    <!-- Left side column. contains the logo and sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 flash">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
      </div>
      <div class="container main-content">
          <%= yield %>
      </div>
    </div>

  </div>
  <!-- ./wrapper -->
  </body>
  </html>
